* {
box-sizing: border-box;
}

header {
  background-color: rgb(37,38,37);
  height: 10vh;
  padding: 1vw 10vw;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-between;
}

.navbar-items {
  /* background-color: darkviolet; */
  display: flex;
}

.index {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

a:link {
  /* text-transform: uppercase; */
  font-weight: 300;
  text-decoration-line: none;
  /* letter-spacing: 1px; */
  font-size: 14px;
  color: rgb(231, 229, 229);
  /* font-family: FGrotesk,Helvetica Neue,arial,sans-serif; */
  line-height: 1.6;
}

a:visited {
  color: rgb(231, 229, 229);
}

/* mouse over link */
a:hover {
  color: hotpink;
  /* text-decoration-line: underline; */
}

/* selected link */
a:active {
  color: skyblue;
}

/* ======================================================= */

body {
  margin: 0;
  color: rgb(231, 229, 229);
  font-family: FGrotesk,Helvetica Neue,arial,sans-serif;
  line-height: 1.6;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
}

.logo {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 30px;
}

h1 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 30px;
}

h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 30px;
}

#intro_id {
  background-color: lightsalmon;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 14px;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 14px;
}

.section {
  min-height: 50vh;
  /* display: flex; */
  /* justify-content: center; */
}

/* ======================================================= */

.intro {
  background-color: rgba(37, 38, 37, 0.75);
  height: 90vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.intro-container {
  background-color: navy;
  display: flex;
  
}

.column1 {
  /* background-color: hotpink; */
  margin: 0 2vw 2vw 0;
}


/* STILL USING? */
.column {
  /* background-color: hotpink; */
  margin: 0 2vw 2vw 0;
  width: 37vw;
}

/* ======================================================= */

.skills {
  /* background-color: rgb(100,90,75); */
  background-color: rgba(37,38,37, 0.5);
  height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container {
  /* background-color: navy; */
  padding: 5vw 0;
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

i {
  width: 100px;
  font-size: 2rem;
}

/* ======================================================= */

.projects {
  background-color: rgb(37, 38, 37);
  min-height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_container {
  /* background-color: navy; */
  padding: 5vw 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.project {
  background-color: rgb(45, 45, 45);
  width: 70vw;
  max-width: 400px;
  margin: 0 2vw 2vw 0;
  display: flex;
  flex-direction: column;
}

.row {
  /* background-color: gray; */
  margin: 0 0 1vw 0;
  display: flex;
  justify-content: space-between;
}

/* ======================================================= */

.course {
  /* background-color: rgb(86,86,84); */
  /* background-color: rgb(37, 38, 37); */
  background-color: rgba(37, 38, 37, 0.75);
  min-height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-container {
  /* background-color: navy; */
  padding: 5vw 0;
}

.column-container {
  display: flex;
}

/* ======================================================= */

.screenshot {
  max-width: 400px;
  /* min-height: 50vh; */
}

.title {
  /* background-color: darkorchid; */
}

.brief {
  /* background-color: darkturquoise; */
}

.logo {
  /* background-color: dodgerblue; */
  width: 20vw;
}

.description {
  /* background-color: gold; */
  width: 50vw;
  text-align: right;
  /* display: flex; */
}


