* {
box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
  background-color: rgba(37,38,37, 0.75);
  height: 120px;
  padding: 0 10vw;
  margin: 0;
  position: fixed;
  width: 100vw;
  left: 0px;
  top: 0px;
  z-index: 1;
}

/* ipad portait 768px */
@media only screen and (max-width: 750px) {
  ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
}

li {
  list-style: none;
  padding: 15px;
}

@media only screen and (min-width: 750px) {
ul {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
}

.navbar-items {
  display: flex;
}

.navbar-items i{
  padding: 0 27px;
}

.index {
  display: flex;
  width: 30vw;
  height: 5vh;
  justify-content: space-evenly;
}

a:link {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 12px;
  text-decoration-line: none;
  color: rgb(231, 229, 229);
  line-height: 1.6;
  /* background-color: magenta; */
}

a:visited {
  color: rgb(231, 229, 229);
}

/* mouse over link */
a:hover {
  color: magenta;
}

/* selected link */
a:active {
  color: skyblue;
}

/* p:hover {
  color: magenta;
} */

/* ======================================================= */

body {
  margin: 0;
  color: rgb(231, 229, 229);
  font-family: FGrotesk,Helvetica Neue,arial,sans-serif;
  line-height: 1.6;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
}

/* Soph name and pic names */
h1 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 27px;
}

/* Section titles */
h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 27px;
}

/* project titles, briefs and nav bar */
h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 12px;
}

/* technologies titles */
h4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 12px;
}
/* tech names */
h5 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

p {
  font-size: 17px;
  letter-spacing: 0.5px;
  text-transform: none;
  margin: 0;
  font-weight: 325;
}

ol {
  font-size: 17px;
  letter-spacing: 0.5px;
  text-transform: none;
  margin: 0;
  font-weight: 350;
}

ol li {
  padding: 0px;
}

.section {
  min-height: 50vh;
}


/* ======================================================= */

.intro {
  background-color: rgba(37, 38, 37, 0.75);
  height: 101vh;
  min-height: 1100px;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-pic {
  height: 99.5vh;
  width: auto;
}

@media only screen and (max-width: 2000px) {
  .intro {
    max-height: 975px;
  }
}

@media only screen and (max-width: 800px) {
  .intro {
    min-height: 1400px;
  }
  .intro-container {
    flex-direction: column;
  }
  .column1{
    width: 427px;
  }
  div.column{
    width: 427px;
    margin: 0;
  }
  #profile-pic {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .index {
  width: 70vw;
  margin: 18px 0;
  }
}

/* iphone width 375px */
@media only screen and (max-width: 550px) {
  .intro {
    min-height: 1300px;
  }
  .intro-container {
    flex-direction: column;
  }
  .column1{
    width: 270px;
  }
  div.column{
    width: 270px;
    margin: 0;
  }
  img{
    height: 100%;
    width: 100%;
  }
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  margin: 0 2vw 0 0;
  width: 30vw;
}

.column1 {
  margin: 0 2vw 2vw 0;
  display: flex;
  flex-direction: column;
}

.column2 {
  margin: 0 2vw 2vw 0;
  width: 37vw;
}

.column3 {
  background-color: yellow;
  margin: 0 2vw 2vw 0;
  width: 37vw;
}

.tech-categories {
  text-align: right;
}

/* ======================================================= */

.skills {
  background-color: rgba(37, 38, 37, 0.85);
  max-height: 100vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container{
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
}

i {
  width: 100px;
  font-size: 2.5rem;
}
@media only screen and (max-width: 2000px) {
  .skills{
    min-height: 850px;
  }

  .column3{
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .skills{
    min-height: 1250px;
  }

  .skills-container{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column3{
    display: none;
  }
}

@media only screen and (max-width: 390px) {
    .skills{
    min-height: 1500px;
  }

  .skills-container{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column3{
    display: none;
  }
}

/* ======================================================= */

.projects {
  background-color: rgb(37, 38, 37);
  min-height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_container {
  padding: 5vw 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 2000px;
  align-items: center;
}

.project { 
  width: 70vw;
  max-width: 600px;
  margin: 0 2vw 2vw 0;
  display: flex;
  flex-direction: column;
}

/* The flip card container - set the width and height to whatever you want.*/
.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  width: 100%;
  max-width: 600px;
  margin: 0 2vw 2vw 0;
  display: flex;
  flex-direction: column;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(37, 38, 37);
  min-height: 400px;
}

@media only screen and (max-width: 2000px) {
  .projects {
    height: 2500px;
  }

  div.project_container {
    padding: 0;
    min-height: 1500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 250px;
  }

  div.project { 
    width: 605px;
    max-width: 605px;
    height: 550px;
    margin: 0;
    display: flex;
  }

  img{
    height: 100%;
    width: 100%;
  }
  .project-mobile{
    display:none;
  }
}

@media only screen and (max-width: 750px) {
  .projects {
    min-height: 3300px;
    display: flex;
  }

  .flip-card-front {
    min-height: 175px;
    height: 175px;
  }

  div.project {
    display: none;
  }

  div.project_container {
    flex-wrap: nowrap;
  }

  div.project-mobile{
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  #profile-pic {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .projects {
    min-height: 3100px;
  }

  #profile-pic {
    height: 100%;
    width: 100%;
  }

}
/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  background-color: rgb(45, 45, 45);
  height: 400px;
  padding: 20px;
}

.row {
  padding: 0 0 1vw 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(45, 45, 45);
}

.screenshot {
  max-width: 600px;
}

.logo {
  width: 600px;
  text-align: right;
}

.description {
  text-align: right;
}
/* ======================================================= */

.course {
  background-color: rgba(37, 38, 37, 0.75);
  min-height: 950px;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-container {
  padding: 5vw 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.column-container {
  display: flex;
}

/* iphone width 375px */
@media only screen and (max-width: 750px) {
  .course{
    height: 1250px;
  }

  .column-container {
    flex-direction: column;
    align-items: center;

  }
  .column2{
    width: 270px;
  }
}

@media only screen and (max-width: 390px) {
  .course{
    height: 1400px;
  }

  .column-container {
    flex-direction: column;
    align-items: center;

  }
  .column2{
    width: 270px;
  }
}

/* ========================================================== */

footer {
  background-color: rgba(37,38,37, 1);
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.contact i{
  padding: 0 27px;
}
