* {
box-sizing: border-box;
}

header {
  background-color: rgba(37,38,37, 0.75);
  height: 10vh;
  padding: 1vw 10vw;
  margin: 0;
  position: fixed;
  width: 100vw;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  z-index: 1;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-between;
  /* background-color: maroon; */
}

.navbar-items {
  /* background-color: darkviolet; */
  display: flex;
}

.index {
  display: flex;
  width: 30vw;
  height: 5vh;
  justify-content: space-between;
  /* background-color: magenta; */
}

a:link {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 12px;
  text-decoration-line: none;
  color: rgb(231, 229, 229);
  /* font-family: FGrotesk,Helvetica Neue,arial,sans-serif; */
  line-height: 1.6;
}

a:visited {
  color: rgb(231, 229, 229);
}

/* mouse over link */
a:hover {
  color: hotpink;
  /* text-decoration-line: underline; */
}

/* selected link */
a:active {
  color: skyblue;
}

/* ======================================================= */

body {
  margin: 0;
  color: rgb(231, 229, 229);
  font-family: FGrotesk,Helvetica Neue,arial,sans-serif;
  line-height: 1.6;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
}

/* .logo {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 30px;
} */

/* Soph name and pic names */
h1 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 52px;
}

/* Section titles */
h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 27px;
  /* background-color: maroon; */
}

/* project titles, briefs and nav bar */
h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 12px;
}

/* technologies */
h4 {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
  margin: 0;
}

p {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: none;
}

.section {
  min-height: 50vh;
}

/* ======================================================= */

.carousel {
  background-color: rgba(37,38,37, 0.9);
  height: 100vh;
}

/* ======================================================= */
/* SLIDESHOW */
/* html { min-height: 100%; } */

/* body { height: 100%; } */

.slideshow {
  list-style: none;
  z-index: 1;
  
}

.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s;
}

.no-cssanimations .slideshow li span { opacity: 1; }

/* background images */
.slideshow li:nth-child(1) span { 
  background-image: url(https://imgur.com/fs95T4l.jpg); }

.slideshow li:nth-child(2) span {
  background-image: url(https://imgur.com/yDP94ht.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background-image: url(https://imgur.com/rygsmLr.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
  background-image: url(https://imgur.com/48Y8NOS.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s;
}

/* crossfade animations by changing the opacity level using @keyframes */
@-webkit-keyframes 
imageAnimation { 0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

@-moz-keyframes 
imageAnimation { 0% {
 opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -moz-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

@keyframes 
imageAnimation { 0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-timing-function: ease-in;
 animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
 -moz-animation-timing-function: ease-out;
 animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

@-webkit-keyframes 
titleAnimation { 0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

@-moz-keyframes 
titleAnimation { 0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

@keyframes 
titleAnimation { 0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}


/* ======================================================= */

.skills {
  background-color: rgba(37, 38, 37, 0.75);
  height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container {
  background-color: navy;
  padding: 5vw 0;
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.tech-row {
  background-color: royalblue;
  display: flex;
}

.icon {
  background-color: sandybrown;
  margin: 5px;
  text-align: center;
}

.iconify {
  /* color: white; */
  /* background-color: white; */
}

i {
  width: 100px;
  font-size: 2rem;
}

/* ======================================================= */

.projects {
  background-color: rgb(37, 38, 37);
  min-height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_container {
  /* background-color: pink; */
  padding: 5vw 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 2400px;
  /* justify-content: space-between; */
}

@media only screen and (min-width: 1579px) {
  .project_container {
    /* background-color: lightblue; */
    min-height: 1300px;

  }
}

.project { 
  /* background-color: rgb(45, 45, 45); */
  width: 70vw;
  max-width: 600px;
  margin: 0 2vw 2vw 0;
  display: flex;
  flex-direction: column;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  /* background-color: transparent; */
  background-color: fuchsia;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  width: 100%;
  max-width: 600px;
  margin: 0 2vw 2vw 0;
  display: flex;
  flex-direction: column;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(37, 38, 37);
  min-height: 520px;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  background-color: rgb(45, 45, 45);
  min-height: 520px;
  padding: 20px;
}

.row {
  /* background-color: yellow; */
  padding: 0 0 1vw 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(45, 45, 45);
}

.screenshot {
  max-width: 600px;
}

.title {
  /* background-color: darkorchid; */
}

.brief {
  /* background-color: darkturquoise; */
}

.logo {
  /* background-color: dodgerblue; */
  width: 600px;
  text-align: right;
}

.description {
  text-align: right;
}
/* ======================================================= */

.course {
  background-color: rgba(37,38,37, 0.5);
  min-height: 120vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-container {
  background-color: navy;
  padding: 5vw 0;
}

.column-container {
  display: flex;
}


/* ======================================================= */

.intro {
  background-color: rgba(37, 38, 37, 0.75);
  height: 100vh;
  padding: 1vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.intro-container {
  background-color: navy;
  display: flex;
}

.column {
  /* background-color: dodgerblue; */
  margin: 0 2vw 2vw 0;
  width: 30vw;
}

.column1 {
  /* background-color: hotpink; */
  margin: 0 2vw 2vw 0;
}

.column2 {
  /* background-color: navy; */
  margin: 0 2vw 2vw 0;
  width: 37vw;
}

.tech-categories {
  text-align: right;
}
/* ========================================================== */

footer {
  background-color: rgba(37,38,37, 1);
  padding: 4vw 25vw 4vw 42vw;
}

.contact {
  /* background-color: rgba(1,5,20, 0.5); */

}

